

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('/food.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav{
  margin-bottom: 50px;
}

.collection .collection-item.avatar {
  min-height: 100px;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle{
  width: 80px;
  height: 80px;
}
.info {
  margin-left: 40px;
}

#root > div > div > div > div.col.s12.card-panel.white.teal > h3{
  text-align: center;
}

#root > div > div > div > div.col.s12.card-panel.white.teal > form{
  margin-bottom: 20px;
}